
<div *ngIf="ClickedCar != undefined">
    <h4>Car Details</h4>
    <p> <span style="font-style: italic;">carId</span> - {{ClickedCar.carId}}</p>
    <p> <span style="font-style: italic;">carName</span> - {{ClickedCar.carName}}</p>
    <p> <span style="font-style: italic;">contact_Details</span> - {{ClickedCar.contact_Details}}</p>
    <p> <span style="font-style: italic;">price</span> - {{ClickedCar.price}}</p>
    <p> <span style="font-style: italic;">category</span> - {{ClickedCar.category}}</p>

</div>
